spring:
  application:
    name: cnapp-server
  datasource:



    url: ${DB_URL:jdbc:mysql://localhost:3306/cnappdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50           # 2. 한 번에 50개씩 묶어서 실행
          order_inserts: true        # 3. Insert 순서 최적화 (Batch 확률 높임)
          order_updates: true        # 4. Update 순서 최적화
server:
  port: 8080

logging:
  level:
    com.k8s.cnapp.server: DEBUG
