<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Pods</div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${podCount}">0</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Services</div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${serviceCount}">0</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Nodes</div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${nodeCount}">0</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Alerts</div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${alertCount}">0</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
